<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="yangyuzhi" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link href="style.css" rel="stylesheet" type="text/css" media="all" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<div id="C_header">
			<div id="C_headerBody">
				<div id="C_logo">

					<a href="#"> <img src="http://img2.meetupstatic.com/img/8308650022681532654/header/logo-2x.png" width="68" height="45" alt="Meetup" /> </a>

				</div>
				<div id="C_userNav">

					<ul id="C_userLinks" class="inlineblockList">

						<li class="C_userNavItem C_userTopNavItem">

							<div id="nav-profile" class="dropdown callout">
								<div class="nav-avatar dropdown-toggle ">

									<div class="avatar avatar--person avatar--small" style="background-image: url('http://photos4.meetupstatic.com/img/noPhoto_50.png')" title="Sophie">
										Sophie
									</div>
									<i class="icon-drop-down"></i>
								</div>
								<!-- <div class="dropdown-menu bordered messagesOffset">
									<div id="C_groupsMenu" class="unit size2of3">
										<div class="padding-all" style="padding-bottom: 0; text-align: center;">
											<img src="http://img2.meetupstatic.com/img/7692805750733241217610/ajax_loader_trans.gif" />
										</div>
									</div>
									<ul id="nav-account-links" class="lastUnit">
										<li>
											<a href="http://www.meetup.com/members/173434502/">Profile</a>
										</li>
										<li>
											<a href="http://www.meetup.com/account/">Settings</a>
										</li>
										<li>

											<a href="http://www.meetup.com/logout/">Log out</a>

										</li>
									</ul>
								</div> -->
							</div>
						</li>

						<li class="C_userNavItem C_userTopNavItem">
							<div id="nav-messages">
								<a href="#" class="messageIcon"> 
									<span class="unreadConvosCount" id="unread-convo-count" data-count="0"> 0 </span>
									<span id="unread-convo-count" class="unreadConvosCount bubbleAnimation" data-count="1"> 1 </span> 
									<i class="icon-m icon-messaging-messages"></i> 
								</a>
							</div>
						</li>

						<li class="C_userNavItem C_userTopNavItem">
							<div id="nav-notifications" class="dropdown callout">
								<a href="#" class="dropdown-toggle"> 
									<i class="icon-notifications"></i> 
									<span id="unread-count" class="unreadNotifCount" data-count="0"> 0 </span> 
								</a>
								<!-- <div class="dropdown-menu padding-none bordered">
									<p class="margin-none notifLabel bold caps">
										Notifications
									</p>
									<ul id="C_notifsHtml" class="notifList resetList">
										<li class="empty align-center">
											<p class="margin-none leading-top leading-bottom">
												<img src="http://img2.meetupstatic.com/img/7692805750733241217610/ajax_loader_trans.gif" />
											</p>
										</li>
									</ul>
								</div> -->
							</div>
						</li>

						<li class="C_userNavItem C_userTopNavItem">
							 <div id="nav-about" class="dropdown callout">
								<a href="#" class="dropdown-toggle"><i class="icon-more icon-l"></i></a>
								<!--<ul class="dropdown-menu bordered">
									<li class="C_userNavItem">
										<a href="http://www.meetup.com/help/" class="C_groupsMenuItem" target="_blank">Help</a>
									</li>
									<li class="C_userNavItem">
										<a href="http://www.meetup.com/about/" class="C_groupsMenuItem">About Us</a>
									</li>
									<li class="C_userNavItem">
										<a href="http://www.meetup.com/jobs/" class="C_groupsMenuItem" target="_blank">We're Hiring!</a>
									</li>
									<li class="C_userNavItem">
										<a href="http://www.meetup.com/privacy/" class="C_groupsMenuItem">Privacy & Terms</a>
									</li>
									<li class="C_userNavItem C_userNavItemSmall">
										<a href="http://blog.meetup.com/" class="C_groupsMenuItem" target="_blank">Blog</a>
									</li>
									<li class="C_userNavItem C_userNavItemSmall">
										<a href="http://making.meetup.com/" class="C_groupsMenuItem" target="_blank">Tech Blog</a>
									</li>
									<li class="C_userNavItem C_userNavItemSmall">
										<a href="http://www.meetup.com/meetup_api/" class="C_groupsMenuItem">API</a>
									</li>

									<li class="C_userNavItem C_userNavItemSmall">
										<a href="http://nytm.org/made" class="C_groupsMenuItem" target="_blank">Made in NYC</a>
									</li>

									<li class="C_userNavItem C_userNavItemLast">

										&copy;2014 Meetup
									</li>
								</ul>-->
							</div> 
						</li>
					</ul>

				</div>

				<div id="C_globalNav">
					<div id="C_tabs">
						<a href="#"> <span class="C_tabContent"> <span class="C_topBig"> 寻找 </span> <span class="C_topSm"> 兴趣小组 </span> </span> </a>
						<a href="#"> <span class="C_tabContent"> <span class="C_topBig"> 创建</span> <span class="C_topSm"> 兴趣小组 </span> </span> </a>
					</div>
				</div>

			</div>
		</div>
	</body>
</html>
