/*@group general style
-------------------------------------------------------------------------------------------------------------------*/

html {
    background-color: #f4f4f4;
}
body{
    color: rgba(0, 0, 0, 0.67);
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    line-height: 1.4;
}
/*字体*/
*::-moz-selection {
    background: none repeat scroll 0 0 #f15923;
    color: #fff;
}
a, a:active, a:hover, a:link, a:visited {
    color: #A3C12F;
    cursor: pointer;
    text-decoration: none;
}
a:visited {
    color: #3987cb;
}
a:active, a:hover {
    text-decoration: underline;
}

.caps {
    text-transform: uppercase;
}
.bold {
    font-weight: 700;
}
.muted {
    color: rgba(0, 0, 0, 0.47);
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(0, 0, 0, 0.95);
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif !important;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0 0 9px;
}
h2 {
    font-size: 28px;
    letter-spacing: -0.5px;
}
h3 {
    font-size: 20px;
    letter-spacing: -0.25px;
    line-height: 1.2;
    padding-bottom: 6px;
}
h4 {
    font-size: 16px;
    letter-spacing: -0.05px;
    line-height: 1.4;
    padding-bottom: 0;
}


.big {
    font-size: 20px;
    line-height: 1.33;
}

.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.display-none {
    display: none;
}
/*图文混排*/
.figureset-right:after, .figureset:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.figureset-description, .figureset-figure {
    display: table-cell;
    vertical-align: top;
}
.figureset-figure {
    line-height: 0;
    width: 1%;
}
.figureset-figure img {
    margin-bottom: 18px;
}
.figureset-description {
    padding-left: 13.5px;
    width: auto;
}
.figureset-description:after {
    content: "M M M M M M M M M M M M M M M M M M M M ";
    display: block;
    font-size: 50px;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}
.figureset-right .figureset-description {
    padding: 0 13.5px 0 0;
}
.ie6 .figureset .figureset-description, .ie6 .figureset .figureset-figure, .ie7 .figureset .figureset-description, .ie7 .figureset .figureset-figure {
    float: left;
}
.ie6 .figureset .figureset-description, .ie7 .figureset .figureset-description {
    min-width: 67%;
    width: 67%;
}
.ie6 .figureset-right .figureset-description, .ie6 .figureset-right .figureset-figure, .ie7 .figureset-right .figureset-description, .ie7 .figureset-right .figureset-figure {
    float: right;
}
.ie6 .figureset-right .figureset-description, .ie7 .figureset-right .figureset-description {
    float: left;
    min-width: 70%;
    width: 70%;
}

button, input, select, textarea {
    box-sizing: border-box;
    margin: 0 0 18px;
    vertical-align: baseline;
}
button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    border: 0 none !important;
    padding: 0 !important;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
fieldset {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-width: 0;
    margin-top: 2.25em;
    padding: 7.2px 0 0;
    position: relative;
}
fieldset legend {
    color: #555;
    display: block;
    font-size: 16px;
    left: 0;
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: -1em;
}
.ie8 input, .ie9 input {
    border-radius: 0;
}
@media not all, not all {
body input {
    border-radius: 0;
}
}
input, select, textarea {
    border: 1px solid #ddd;
    border-radius: 1.5px;
    color: #555;
    display: block;
    font-family: Microsoft YaHei,Arial,Helvetica,sans-serif !important;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 18px;
    padding: 4.5px;
    width: auto;
}
label {
    color: #555;
    display: block;
    font-size: 16px;
    margin-right: 1em;
}
label.small {
    font-size: 13px;
}
input[type="checkbox"], input[type="radio"] {
    border: medium none;
    cursor: pointer;
    display: inline;
    font-size: 16px;
    height: 16px;
    line-height: normal;
    margin: 3px;
    padding: 0;
    width: 16px;
}
select {
    height: 31.5px;
    line-height: 36px;
}
select[multiple] {
    background-color: #fff;
    height: inherit;
}
input[type="file"] {
    background-color: #fff;
    max-width: 100%;
    padding: 6px;
}
textarea {
    height: auto;
    width: 100%;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #555;
    font-style: italic;
    opacity: 0.3;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #555;
    font-style: italic;
    opacity: 0.3;
}
input, textarea {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.1s linear 0s, box-shadow 0.2s linear 0s;
}
input:focus, textarea:focus {
    border-color: #2a9bc7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.333) inset, 0 0 6px rgba(42, 155, 199, 0.5);
    outline: 0 none;
}
[type="image"] {
    border-width: 0;
    box-shadow: none;
}
.disabled, [disabled="disabled"], [disabled] {
    color: #888;
    cursor: auto !important;
    opacity: 0.7;
}
.disabled:focus, [disabled="disabled"]:focus, [disabled]:focus {
    border-color: #ddd;
    box-shadow: none;
}
[disabled="disabled"], [disabled] {
    background-color: #eee;
}
label.required:after {
    color: #f15923;
    content: "*";
    margin-left: 0.15em;
}
input.error, select.error, textarea.error {
    background-color: #fbe1e3;
    border-color: #f15923;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
}

.inlineErrorMsgs {
    padding-left: 0;
}

html .capitalize {
    text-transform: capitalize;
}
.ellipsize {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.small, small {
    font-size: 13px;
    line-height: 1.6;
}
b, strong {
    font-weight: 700;
}
.valign-top {
    vertical-align: top;
}
.inline-block {
    display: inline-block;
}
.button--primary, .button.primary, .primary, input.D_submit[type="submit"], input.button--primary[type="submit"], input.primary[type="submit"] {
    background: none repeat scroll 0 0 #f15923;
    box-shadow: 0 2px 0 0 #851518;
    color: #fff !important;
}
.bg_white{
	background-color:#fff !important;
}
.button-big{
	width:100%;
}
.article-content{
	padding: 18px !important;
}
