.cardList {
    font-size: 0;
    list-style: none outside none;
    margin: 0 -18px 0 0;
    padding: 0;
    vertical-align: top;
}
.cardList > li {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    margin: 0 18px 18px 0;
    padding: 0;
    vertical-align: top;
    width: 223px;
}
.cardList > li .doc-content {
    border-top: 1px solid #eee;
    padding: 18px 18px 0;
}
.cardList > li .doc-content:first-child {
    border-top: 0 none;
}
.nametag-photo {
    background-color: #333;
    background-position: center 20%;
    background-size: cover;
    display: block;
    height: 180px;
    overflow: hidden;
    position: relative;
    width: 180px;
}
.nametag-photo-name {
    background: -moz-linear-gradient(center top , rgba(22, 24, 27, 0), rgba(22, 24, 27, 0.7) 72px, rgba(22, 24, 27, 0.9)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: block;
    left: 0;
    line-height: 27px;
    orphans: 2;
    padding: 81px 18px 0;
    position: absolute;
    vertical-align: bottom;
    width: 100%;
}
.nametag-photo-name h1, .nametag-photo-name h2, .nametag-photo-name h3, .nametag-photo-name h4, .nametag-photo-name h5, .nametag-photo-name h6 {
    color: #fff;
}
.ie7 .nametag-photo-name, .ie8 .nametag-photo-name, .ie9 .nametag-photo-name {
}
.simple-card .muted.small{
	margin-bottom:18px;
}
