<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<title>多彩生活，悦而忘龄-悦龄网</title>
		<!--reset.css-->
		<link rel="stylesheet" href="../reset.css" type="text/css" />
		<!--1024以上屏幕-->
		<link rel="stylesheet" href="group.css" type="text/css" />
		<!--ie兼容-->
		<!--[if IE 6]>
		<link rel="stylesheet" href="" type="text/css" />
		<![endif]-->
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="" type="text/css" />
		<![endif]-->
		
		<!--icons-->
		<link rel="shortcut icon" href="assets/images/favicon.ico">
		<link rel="apple-touch-icon" href="">
		<link rel="apple-touch-icon" sizes="76x76" href="">
		<link rel="apple-touch-icon" sizes="120x120" href="">
		<link rel="apple-touch-icon" sizes="152x152" href="">
		

	</head>

	<!--[if lt IE 7 ]> <body class="ie6 "> <![endif]-->
	<!--[if IE 7 ]>  <body class="ie7 "> <![endif]-->
	<!--[if IE 8 ]> <body class="ie8 "> <![endif]-->
	<!--[if IE 9 ]> <body class="ie9 "> <![endif]-->
	<!--[if (gt IE 9)|!(IE)]><!-->
	<body>
		<h1>顶部内容条</h1>
		<div id="C_pagePreBody">
				<div class="doc-section" id="member-home-header">
					<div class="doc-section-inner">
						<div class="ffbox">
							<div class="ffbox-flex">
								<div id="member-home-header-event">
									<h2>您好 倚窗寒梅,</h2>
									<p class="big link_it">
										本周将有46个活动，活动的主题有讲座，摄影，聚餐，书法广场舞等等......
									</p>
								</div>
							</div>
							<div class="ffbox-fix">
								<ul id="member-home-header-stats">
									<li>
										<div class="stats-count">
											<a href="#">2</a>
										</div>
										<div class="stats-label">
											<a href="#"> 等待你参加的活动 </a>
										</div>
									</li>

									<li>
										<div class="stats-count">
											<a href="#">75</a>
										</div>
										<div class="stats-label">
											<a href="#"> 你附近的活动 </a>
										</div>
									</li>

									

								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		<h1>社团列表项</h1>
		<ul class="name-card search-card cardList">
			<li class="simple-card-li round">
				<div class="simple-card">
					<a href="group.html" class="card-photo nametag-photo">
						<div class="nametag-photo-name ">
							<h3 class="margin-bottom padding-none loading">
								寂寞就读书
							</h3>
						</div>
					</a>
					<div class="ffbox ffbox--fixed">
						<div class="ffbox-flex doc-content" style="position: relative;">
							<h4 class="ellipsize">
								223 成员
							</h4>
							<p class="muted small">
								下一次活动时间: 11月1日
							</p>
						</div>
						<div class="ffbox-fix doc-content member-role ">
							<i class="member-role--icon icon-circle-check"></i>
							<div class="member-role--text valign-top">成员</div>
						</div>
					</div>
					
				</div>
			</li>
		
			<li class="simple-card-li round">
				<div class="simple-card">
					<a href="group.html" class="card-photo nametag-photo" style="background-image: url(assets/images/tmp/group_intro_big/st_kdy000.jpg);">
						<div class="nametag-photo-name ">
							<h3 class="margin-bottom padding-none loading">
								电影公社
							</h3>
						</div>
					</a>
					<div class="ffbox ffbox--fixed">
						<div class="ffbox-flex doc-content" style="position: relative;">
							<h4 class="ellipsize">
								159 成员
							</h4>
							<p class="muted small">
								下一次活动时间: 12月4日
							</p>
						</div>
						<div class="ffbox-fix doc-content member-role ">
							<i class="member-role--icon icon-circle-check"></i>
							<div class="member-role--text valign-top">成员</div>
						</div>
					</div>
				</div>
			</li>
			<li class="simple-card-li round">
				<div class="simple-card">
					<a href="group.html" class="card-photo nametag-photo" style="background-image: url(assets/images/tmp/group_intro_big/st_jiangzuo000.jpg);">
						<div class="nametag-photo-name ">
							<h3 class="margin-bottom padding-none loading">
								讲座爱好者
							</h3>
						</div>
						<div class="new-group">New</div>
					</a>
					<div class="ffbox ffbox--fixed">
						<div class="ffbox-flex doc-content" style="position: relative;">
							<h4 class="ellipsize">
								346 成员
							</h4>
							<p class="muted small">
								下一次活动时间: 11月28日
							</p>
						</div>
						<div class="ffbox-fix doc-content member-role ">
							<i class="member-role--icon icon-circle-check"></i>
							<div class="member-role--text valign-top">成员</div>
						</div>
					</div>
				</div>
			</li>
			
		</ul>
	</body>
</html>